.pin-loader {
  position: relative;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
}

.pin-loader:before,
.pin-loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #ff4747);
}

.pin-loader:after {
  animation: anim 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes anim {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}